@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate {
  transform: rotate3d(-1, 29, 6, 48deg) translate(-21px, 35px) scale(1.2);
}

.sider-theme {
  background: #ffffff8c !important;
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
  position: fixed !important;
}
.sider-theme-mobile {
  background: #ffffff8c !important;
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  position: fixed !important;
}
.bg-theme {
  background: linear-gradient(117.76deg,hsla(0,0%,100%,.6) -7.21%,hsla(0,0%,100%,.3) 118.08%)!important;
}
.clearScroll::-webkit-scrollbar {
  display: none;
}